<%- include('partials/head', { title: 'Page non trouvée - oCoffee' }) %>

<div class="main-content">
    <section class="error-404">
        <h1>404</h1>
        <p>Oups ! On dirait que cette page s'est évaporée comme un bon café.</p>
        <img src="/visuals/404.webp" alt="Café renversé" class="error-image">
        <a class="btn" href="/">Retour à l'accueil</a>
    </section>
</div>

<%- include('partials/foot') %>
