<%- include('partials/head', { title: 'Ocoffee - Accueil' }) %>



<div class="main-content">
    <div class="hero">
    <section class="introduction">
        <h1>oCoffee</h1>
        <p>Texte d'introduction sur le café. Lorem, ipsum dolor sit amet consectetur adipisicing elit. At repellendus doloremque quisquam culpa voluptatum explicabo dolores, nihil libero, quos excepturi accusamus, eligendi laboriosam voluptas obcaecati omnis hic dolor quo architecto.
        Recusandae omnis rerum doloribus amet veniam vitae dolorum cumque dolor, mollitia maiores ea natus fuga blanditiis sequi illo ad quam iusto unde sunt, quaerat non impedit accusamus quasi. Vel, dolor.
        Incidunt aperiam enim inventore eos veritatis fugit optio quisquam voluptate, nam alias? Impedit repellat soluta dolorum eos, totam aliquid fuga accusantium magni repudiandae facere, vel porro voluptate doloribus a perferendis.
        </p>
        <a class="btn" href="/catalogue">Voir le catalogue</a>
    </section>

    <section class="image-section">
        <img src="/visuals/about.jpg" alt="Jolie image de cafés">
    </section>
</div>

    <section class="nouveautes">
        <h2>Nouveautés</h2>
        <div class="produits">
        
            <div class="produit">
                <img src="/visuals/coffees/582954954.png" alt="Image du produit">
                <p>Lorem ipsum dolor sit amet.</p>
                <a class="btn" href="/produit">Découvrir</a>
            </div>
            <div class="produit">
                <img src="/visuals/coffees/795501340.png" alt="Image du produit">
                <p>Lorem ipsum dolor sit amet.</p>
                <a class="btn" href="/produit">Découvrir</a>
            </div>
            <div class="produit">
                <img src="/visuals/coffees/954589100.png" alt="Image du produit">
                <p>Lorem ipsum dolor sit amet.</p>
                <a class="btn" href="/produit">Découvrir</a>
            </div>
    
        </div>
    </section>
</div>


<%- include('partials/foot') %>