<%- include('partials/head', { title: 'Notre Boutique - oCoffee' }) %>

<div class="main-content">
    <section class="boutique-ambiance">
        <div class="content-wrapper">
            <div class="text-content">
                <h2>Ambiance de la boutique</h2>
                <p>Bienvenue dans notre boutique, où règne une ambiance chaleureuse et accueillante qui éveille tous vos sens. Dès que vous franchissez la porte, vous êtes enveloppé d'une douce symphonie d'arômes envoûtants de café fraîchement moulu.</p>
                <p>L'atmosphère est empreinte d'une lueur chaleureuse, avec des lumières tamisées qui créent des jeux d'ombres et de lumières apaisants. Les murs sont ornés d'éléments rustiques, de panneaux en bois et de photographies captivantes de plantations de café, évoquant l'origine de ces délices aromatiques.</p>
            </div>
            <div class="image-content">
                <img src="/visuals/ambiance-boutique.webp" alt="Ambiance de la boutique" class="boutique-image">
            </div>
        </div>
    </section>

    <section class="boutique-savoir-faire">
        <div class="content-wrapper">
            <div class="image-content">
                <img src="/visuals/boutique.webp" alt="Boutique vue de l'extérieur" class="boutique-image">
            </div>
            <div class="text-content">
                <h2>Notre savoir faire</h2>
                <p>Jean et Jacques Pepper, deux frères passionnés par l'univers du café, ont toujours rêvé de créer leur propre boutique de café haut de gamme. L'occasion de concrétiser ce rêve est arrivée lors d'un voyage inoubliable en Colombie, un pays célèbre pour ses plantations de café renommées dans le monde entier.</p>
                <p>Leur boutique de café était bien plus qu'un simple commerce. C'était un lieu où les clients pouvaient vivre une expérience sensorielle unique, en explorant les différentes origines, torréfactions et méthodes d'infusion. Jean et Jacques se sont également engagés à soutenir les communautés de producteurs de café en travaillant directement avec eux et en veillant à ce que chaque tasse de café servie contribue à un commerce équitable et durable.</p>
            </div>
        </div>
    </section>
</div>

<%- include('partials/foot') %>

