<%- include('partials/head', { title: 'Ocoffee - Produit' }) %>

<h1>Détails du Produit</h1>
<p>Description du produit ici.</p>
<a href="/catalogue">Retour au catalogue</a>

<%- include('partials/foot') %>
